:root {
  --content: hsl(0, 0%, 17%);
  --heading: hsl(0, 0%, 59%);
  --white: white;
  --black: black;
}

* {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  position: absolute;
  color: var(--white);
}

.leaflet-container {
  width: 100%;
  height: calc(100vh - 250px);
}

.background {
  background-image: url('./images/pattern-bg-mobile.png');
  background-repeat: no-repeat;
  height: 250px;
  width: 100%;
  background-size: cover;
}

.error {
  position: absolute;
  top: 100px;
  width: 100%;
  text-align: center;
}

.error p {
  color: var(--white);
}

.error button {
  all: unset;

  padding: 15px;
  border-radius: 20px;
  color: var(--white);
  cursor: pointer;
  background-color: var(--black);
}

@media only screen and (min-width: 375px) {
  .background {
    background-image: url('./images/pattern-bg-desktop.png');
  }
}
